* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.background_image {

  position: absolute;
  z-index: -1;
  top: 0;
  // background: #e4e802;
  opacity: 0.6;
  height: 100vh;
  transition: 0.5s ease-in;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../TMDB_kinoarea/public/joker.png);

  background-repeat: no-repeat;
  border-bottom-left-radius: 8px;
  background: linear-gradient(top, #1e2538 5%, rgba(0, 0, 0, 0.4) 100%);
  border-bottom-right-radius: 8px;
  // background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  box-shadow:
    inset 0px -20px 20px 6px #1E2538,
    0px -12px 10px -10px #1E2538;

}


body {
  top: 20%;
  margin-top: 700px;
  height: 100%;
  width: 100%;
  background-color: #1E2538;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;


  .icos_flex {
    .kinoarea_icons_blocks {
      display: flex;
      gap: 6px;
      align-items: center;
    }

    .vk_ins_face_twitt_icons_blocks {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }


  .link_a_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;

    a {
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
    }
  }

  .search_button {
    .btn_flex {
      display: flex;
      align-items: center;
      gap: 12px;

      .search_box {
        width: 55px;
        height: 52px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
      }

      .add_box {

        width: 138px;
        height: 53px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #b9b9b9;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.5%;

      }
    }
  }

  .search_button {
    .btn_flex {
      display: flex;
      align-items: center;
      gap: 12px;

      .search_box {
        width: 55px;
        height: 50px;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
      }

      .add_box {

        width: 130px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3657CB;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 166.5%;
      }
    }
  }


}

.layot_contener {
  top: 0%;

  position: absolute;
  padding: 30px 0;
  left: 50%;

  transform: translateX(-50%);

  .act_btn {
    width: 150px;
    height: 50px;
    border: 1px solid white;
    background-color: white;
    color: #3657CB;
    border-radius: 10px;
    font-size: 16px;
    transition: .5s ease;
    scale: 0;
    display: none;

  }

  width: 80%;
  margin: 0 auto;

  .header_contener {
    margin: 0 auto;




  }




  .zagolovok_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;




    .h1_title {
      color: #FFF;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

  }

  .scroll_hrefs {
    overflow-x: scroll;
    display: flex;
    width: 600px;
    align-items: center;
    gap: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      color: white;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      text-decoration: none;
      line-height: normal;
    }
  }

  .posters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    h3 {
      display: none;
    }

  }

  .box_posters {
    margin: 40px 0;
    width: 23%;
    position: relative;

    .hovered {
      width: 100%;
      height: 100%;
      z-index: 99;
      border-radius: 10px;
      top: 0%;
      background: rgba(54, 87, 203, 0.65);
      transition: .9s ease;
      position: absolute;
      display: flex;
      text-align: end;
      justify-content: center;

      align-items: end;


    }

    h2 {
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: #F2F60F;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .poster_items {
      width: 100%;
      height: 100%;
      background-color: green;
      display: flex;
      position: relative;
      justify-content: end;
      border-radius: 10px;

    }

    .reyting {
      width: 20%;
      height: 8%;
      border-radius: 5px;
      background-color: #00fa0c;
      position: absolute;
      justify-content: center;
      align-items: center;
      color: #FFF;
      display: flex;
      z-index: 99;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      top: 3%;
      right: 3%;
      line-height: normal;

    }

  }




  .new_btn {
    width: 15%;
    border-radius: 10px;
    border: 2px solid #FFF;
    padding: 10px 0;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%;
    /* 29.97px */
    margin: 1% 0 4%;
  }


  .video_box {

    iframe {
      width: 100%;
      height: 500px;
    }

    .flex_new_treyler {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .h1_block {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 40px;
      }

      .p_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        p {
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }


  }


  .scroll_video_treylers {
    margin-top: 50px;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    p {
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    .box_photo {
      width: 300px;
      position: relative;

      .hovereds {
        width: 100%;
        height: 89%;
        z-index: 99;
        top: 0%;
        border-radius: 10px;
        background-color: black;
        transition: .9s ease;
        position: absolute;
        background: rgba(54, 87, 203, 0.65);


      }

      .player {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 199;
        left: 50%;
        width: 10%;
      }

      .elem_photo {
        width: 280px;
        background-color: #13bb3d;
        height: 200px;
        border-radius: 10px;


      }
    }

    .box_treylers {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  }



  .flex_contener_layks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .one_flex_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .name_treylers {
        color: #FFF;
        font-family: Qanelas;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }






      .flex_icons {
        display: flex;
        align-items: center;
        gap: 10px;
      }



    }



    .two_flex_box {
      display: flex;
      align-items: center;
      gap: 15px;
      text-align: center;
      color: #FFF;
      font-family: Qanelas;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      .tops {
        margin-top: 5px;
      }

      .background_like {
        border-radius: 10px;
        width: 50.871px;
        height: 50.871px;
        background: #1B2133;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .backgrounds_diz {
        width: 50.871px;
        height: 50.871px;
        border-radius: 10px;
        padding: 10px 0 0;
        background: #1B2133;
        display: flex;
        justify-content: center;
        align-items: center;

      }


    }
  }



  .popular_films_contener {
    margin-top: 40px;

    .flex_box_zagalovovks {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .popular_1 {
        color: #FFF;
        font-family: Qanelas;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }


      .year_box {
        overflow-x: scroll;
        width: 35%;
        display: flex;
        gap: 20px;

        &::-webkit-scrollbar {
          display: none;
        }

        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.35);
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }


    .pop_cont {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: scroll;
      width: 100%;
      justify-content: center;

      &::-webkit-scrollbar {
        display: none;
      }
    }



    .box_popular {
      margin: 40px 10px;
      height: 100%;
      position: relative;



      .popular_hovered {
        width: 100%;
        height: 92%;
        z-index: 99;
        border-radius: 10px;
        top: 0%;
        background: rgba(54, 87, 203, 0.65);
        transition: .9s ease;
        position: absolute;


      }

      .h3 {
        color: #FFF;
        margin-top: 7px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      p {
        color: #F2F60F;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .box_img {
        background-color: green;
        display: flex;
        justify-content: end;
        border-radius: 10px;
        width: 250px;
        height: 350px;

      }

      .pop_reytings {
        width: 20%;
        height: 8%;
        border-radius: 5px;
        background-color: #04ec04;
        position: absolute;
        justify-content: center;
        align-items: center;
        color: #FFF;
        display: flex;
        z-index: 99;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        top: 3%;
        right: 3%;
        line-height: normal;

      }

    }

    .left_rigt {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-top: 15px;
      gap: 10px;

      p {
        color: #FFF;
        font-family: Qanelas;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }



  .popular_person_contener {
    margin-top: 30px;

    .h1_years_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pop_persons_h1 {
        color: #FFF;
        font-family: Qanelas;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }


      .month_week_yers_flex_box {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
          text-decoration: none;
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

    }

  }


  .place_flex_conetner {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

    .img_place {
      border-radius: 10px;
      width: 32%;
      height: 400px;
      z-index: -1;
      top: 0;
      // background: #e4e802;
      opacity: 1;
      background-position: center;
      background-size: cover;
      background-image: url(../TMDB_kinoarea/public/joker.png);

      background-repeat: no-repeat;
      position: relative;


      /*      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; */

      .place_title {
        color: #F2F60F;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px;

        z-index: 99;
        /* 133.333% */
      }

      .place_cont_avtor {

        z-index: 99;
        position: absolute;
        bottom: 3%;
        left: 5%;

        h4 {
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;



        }

        #pig {
          color: rgba(255, 255, 255, 0.35);
          font-size: 15px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        p {
          color: #F2F60F;
          font-size: 13px;
          font-style: normal;
          font-weight: 300;
          line-height: 20px;

          /* 133.333% */
        }
      }
    }
  }


  .place_table_box {
    width: 34%;
    height: 400px;
    position: relative;
    padding: 1% 1%;
    border-radius: 10px;
    background: #171c2b;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    hr {
      border-color: #1E2538;
      margin: 10px 0;
    }

    .three_place {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .doc {
        color: #3B486B;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .p_names {
        color: #F2F60F;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .place_index {
        color: #F2F60F;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }


  .afters_new_flex_conteners {
    margin-top: 30px;


    .new_titles_flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .afters_title {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }

      .news_flex_icon_box {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

    }


    .news {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .news_boxses {
      display: flex;
      justify-content: space-between;

      .background_images {
        width: 77%;
        height: 500px;
        border-radius: 10px;
        background-position: center;
        position: relative;
        padding: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        .date_commit_flex_box {
          display: flex;
          align-items: center;
          gap: 10px;

          .date {
            color: #FFF;
            font-size: 14px;

            font-weight: 500;
            line-height: 191.2%;
            /* 28.68px */
          }



          .prosmotrs {
            display: flex;
            gap: 5px;

            p {
              color: #FFF;
              font-size: 14px;

              font-weight: 500;
              line-height: 191.2%;
            }
          }

          .commits {
            display: flex;
            gap: 5px;

            .p {
              color: #FFF;
              font-size: 14px;
              text-shadow: 10 10 10 black;
              font-weight: 500;
              line-height: 191.2%;
            }
          }
        }



        .news_titl_box {
          position: absolute;
          bottom: 6%;


          h1 {
            color: white;
            text-shadow: -12px 16px 9px rgba(0, 0, 0, 0.73);
            margin: 0 0 0 10px;
          }

          #ping {
            color: white;
            margin: 10px 0 0 10px;
            text-shadow: -12px 16px 9px rgba(0, 0, 0, 0.73);
          }
        }

      }
    }




    .rigt_img_new {
      position: relative;
      overflow-y: scroll;
      height: 500px;

      &::-webkit-scrollbar {
        display: none;
      }

      .hovered {
        width: 100%;
        height: 92%;
        z-index: 99;
        border-radius: 10px;
        top: 0%;
        background: rgba(54, 87, 203, 0.65);
        transition: .9s ease;
        position: absolute;


      }

      .bac_img {
        width: 230px;
        height: 150px;
        background-color: #11c44d;
        border-radius: 10px;
        margin-bottom: 22px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 10px;
        /*         background-image: url(../TMDB_kinoarea/public/joker.png);
 */

        .date {
          color: #FFF;
          font-size: 12px;
          font-weight: 500;
          position: absolute;
          z-index: 99%;
        }

        .title_p {
          position: absolute;
          bottom: 10%;
          color: #FFF;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

  }





}


.foter_zone {
  margin-top: 40px;
  width: 100%;
}

.flex_title_pending {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pending_h1 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .slider_strelka {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}


.peyding_posters {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }



  .box_posters_peyding {
    margin: 20px 0;
    width: 280px;
    position: relative;

    /*      .hovered {
          width: 100%;
          height: 100%;
          z-index: 99;
          border-radius: 10px;
          top: 0%;
          background: rgba(54, 87, 203, 0.65);
          transition: .9s ease;
          position: absolute;


        } */

    .h2 {
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      margin-top: 1px;
      line-height: normal;
    }

    p {
      color: #F2F60F;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .poster_items_peyding {
      width: 280px;
      height: 370px;
      background-color: green;
      display: flex;
      justify-content: end;
      border-radius: 10px;

    }



  }

}


.bacdrop_path {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0 0;
     background: linear-gradient( to top, #0f1425 5%, rgba(25, 28, 53, 0.4) 100%) !important;

    width: 100%;
margin: 0 auto;
padding: 30px;

}

.contener {
  margin: 0 auto;
  width: 1200px;
  margin-top: 30px;



  .information_flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 40px 0;

    .posters {
      background-color: #00fa0c;
    }

    .box_post {


      .posters_img {
        width: 355px;
        height: 500px;
        border-radius: 10px;

      }
    }

    .title_contener {
      .btn_of_icon_flex_cont {
        display: flex;
        align-items: center;
        gap: 20px;

        .icons_box {
          display: flex;
          align-items: center;
          margin-top: 30px;
          gap: 15px;
        }
      }

      .h1 {
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }

      .eng {
        color: #FFF;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 10px 0;
      }

      .p {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        /* 33.3px */
      }


      .buttons {
        border-radius: 10px;
        border: 2px solid #FFF;
        width: 200px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 17px;
        margin: 30px 0 0;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
      }
    }

  }


}



.casse_sbors_cntneter {
  margin: 70px 0;

  .title_sbors_flex_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .h1_box_sbors {
      display: flex;
      align-items: center;
      gap: 10px;

      h1 {
        color: #FFF;
        font-size: 40px;
        font-weight: 700;

      }

      p {
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        margin: 12px 0 0;
      }
    }
  }

  .continental_box {
    display: flex;
    align-items: center;
    gap: 20px;

    a {

      text-decoration: none;
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .scroll_cont {
    width: 100%;
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .box_sbors {
      display: flex;
      align-items: center;
      gap: 14px;

      .posters_sbors_img {
        width: 100px;
        height: 150px;
        background-color: #00fa0c;
      }

      .info_title_sbors_cont {

        .title {
          color: #FFF;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .total {
          color: #F2F60F;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 8px 0;
        }

        .week_total {
          color: rgba(255, 255, 255, 0.41);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

    }

  }




}

.charta_flex_box {
  display: flex;
  gap: 20px;
  margin: 0 0 50px 0;

  .one_chart_box {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 100%;
    background-color: #348528ad;
    text-align: center;

    p {
      font-size: 18px;
      color: white;
    }

    .pull {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50%;
      transform: translateY(-52%);
      color: white;

    }
  }

  .two_chart_box {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 100%;
    background-color: #348528ad;
    text-align: center;

    p {
      font-size: 18px;
      color: white;
    }

    .pull {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50%;
      transform: translateY(-52%);

      color: white;
    }
  }
}

////layot

/////foter//

footer {
  width: 100%;
  margin: 0 auto;

  .contener_footers {
    margin: 0 auto;

    .blue_zone {

      .backgroun_footer {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url(./public/image_backgroun_footer.png);
        height: 100%;

      }

      .blue_overlay {
        background-color: #1D3AA0E5;
        height: 100%;
        padding: 20px;


        .kinoarea_cinema_icon_flex_cont {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;

          img {
            margin: 60px 0 30px;
          }
        }


        .email_cont {
          margin: 0 auto;
          text-align: center;


          h1 {
            color: white;
            font-size: 34px;
          }

          .pup {
            width: 500px;
            text-align: center;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 20px;
            color: white;
            font-size: 18px;
            font-weight: 300;

          }



          .inp_btn_flex_cont {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;

            .inp_footer {
              width: 300px;
              height: 60px;
              text-align: center;
              border: 0;
              border-radius: 10px;
            }

            .btn_footer {
              width: 100px;
              height: 60px;
              border-radius: 10px;
              border: 0;
              color: black;
              font-size: 15px;

              background-color: yellow;
            }
          }
        }


        .flex_agree_cont {
          display: flex;
          margin: 20px 0;
          gap: 10px;
          justify-content: center;

          a {
            text-decoration: none;
            color: yellow;
            font-size: 15px;
          }

          p {
            color: white;
          }
        }

      }
    }


    .black_zone {
      margin-top: 50px;

      .flex_ins_face_twit_you_icons {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;

      }

      .a_href_flex_cont {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 17px;
        margin-top: 50px;
        margin-bottom: 40px;

        a {
          text-decoration: none;
          color: white;
        }
      }

      p {
        color: rgba(227, 230, 240, 0.72);
        text-align: center;
        margin: 0 0 0 20px;
      }
    }

  }
}