* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #1E2538;

}


.contner_acount {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #1E2538;

    padding: 50px;



    .box_content {
        margin-top: 50px;

        .action_pages_flex_cont {
            display: flex;
            align-items: center;
            gap: 30px;

            .action_box_saidbar {
                .activee {
                    background-color: blue !important;
                }

                .action_btn {
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;
                    background-color: #191E2E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                    cursor: pointer;

                    &:hover {
                        transition: .9s ease;
                        background-color: #3e4149;
                    }

                    &:focus {   
                        background-color: blue;
                    }
                }
            }

            .page_wraper_cont {
                width: 100%;


                .pages {
                    display: none;
                    height: 540px;
                    border-radius: 10px;
                    background: #3e4149;
                    transition: 0.5s ease;
                    color: white;
                    padding: 30px;


                }

                .active {
                    display: block;
                }
            }

            #homes {
                padding: 30px;

                h1 {
                    color: white;
                    margin-bottom: 20px;
                }

                .profil_flex_box {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .gravatar {
                        width: 300px;
                        height: 300px;
                        border-radius: 100%;
                    }


                    .titles_box {
                        h2 {
                            font-size: 29px;
                            color: white;
                        }

                        .p {
                            width: 500px;
                            margin: 20px 0;
                            color: rgba(255, 255, 255, 0.80);
                        }

                        .s {
                            margin-top: 10px;
                            gap: 20px;
                            display: flex;
                            align-items: center;

                            a {
                                color: yellow;
                            }

                            p {
                                width: 150px;
                                color: rgba(255, 255, 255, 0.80);
                            }
                        }
                    }
                }


            }

        }
    }
/////////home_zone///////////





#cinems{
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 10px;
        height: 30px;
      }
  
      &::-webkit-scrollbar-track {
        background: #1b2133;
        border-radius: 50px;
      }
  
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border-radius: 10px;
        background: rgb(255, 47, 47);
        width: 422px;
        height: 30px;
      }
}

.box{
margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    .item_photo{
        width: 100px;
        height: 150px;
        background-color: red;
        border-radius: 10px;
        border: 0;
    }

    .h2{
        font-size: 15px;

    }
    .p{
        color: yellow;
    }


}

}



#stars{
    overflow-y:scroll ;
    &::-webkit-scrollbar {
        width: 10px;
        height: 30px;
      }
}